body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}

#container {
    background-color: bisque;
    width: 60%;
    height: 350px;
    margin-top: 10%;
}

#clock {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    display: inline-block;
    position: absolute  ;
    margin-left: 220px;
    margin-top: 130px;
}

#displayed-word {
    font-size: 30px;
    color: black;
    text-align: center;
    width: 70%;
    height: 10%px;
}



#play {
    color: white;
    width: 10%;
    height: 10%;
    border-radius: 20px;
    background-color: rgb(227, 103, 62);;
}

#stats {
    display: flex;
    justify-content: right;
    list-style: block;
}


